html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.homepage-login {
  background-color: #f9fbfb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.homepage-login .div-2 {
  background-color: #f9fbfb;
  border: 1px solid;
  border-color: #1f1f1f;
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  margin: 0;
}

.homepage-login .overlap {
  background-color: #f9fbfb;
  border-color: #1f1f1f;
  border-right-style: solid;
  border-right-width: 1px;
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}


.homepage-login .group {
  height: 640px;
  position: relative;
  width: 458px;
  left: 0;
  top: 0;
  margin: auto;
}


.homepage-login .overlap-2 {
  background-color: #f9fbfb;
  height: 640px;
  position: relative;
  width: 448px;
}

.homepage-login .overlap-group-wrapper {
  height: 48px;
  left: 32px;
  position: absolute;
  top: 368px;
  width: 386px;
}

.homepage-login .div-wrapper {
  background-color: #78a2b3;
  border-radius: 10px;
  height: 48px;
  position: relative;
  width: 384px;
}

.homepage-login .text-wrapper-2 {
  color: #f9fbfb;
  font-family: "Lato-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 48px;
  left: 0;
  letter-spacing: 0.70px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 384px;
}

.homepage-login .welcome-back {
  color: transparent;
  font-family: "Lato-SemiBold", Helvetica;
  font-size: 32px;
  font-weight: 600;
  height: 38px;
  left: 0;
  letter-spacing: 1.60px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 65px;
  width: 448px;
}

.homepage-login .text-wrapper-3 {
  color: #1f1f1f;
  letter-spacing: 0.51px;
}

.homepage-login .text-wrapper-4 {
  color: #78a2b3;
  letter-spacing: 0.51px;
}

.homepage-login .p {
  color: #1f1f1fbf;
  font-family: "Lato-SemiBold", Helvetica;
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  left: 32px;
  letter-spacing: 0.60px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 116px;
  width: 384px;
}

.homepage-login .overlap-wrapper {
  height: 48px;
  left: 32px;
  position: absolute;
  top: 192px;
  width: 388px;
}

.homepage-login .overlap-3 {
  background-color: #f9fbfb;
  border: 1px solid;
  border-color: #1f1f1f80;
  border-radius: 10px;
  height: 50px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 386px;
}

.homepage-login .text-wrapper-5 {
  color: #1f1f1f;
  font-family: "Lato-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 15px;
  letter-spacing: 0.60px;
  line-height: normal;
  position: absolute;
  top: 17px;
  white-space: nowrap;
}

.homepage-login .text-wrapper-6 {
  color: #1f1f1fbf;
  font-family: "Lato-SemiBold", Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 14px;
  left: 359px;
  letter-spacing: 0.80px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: 14px;
}

.homepage-login .group-2 {
  height: 48px;
  left: 32px;
  position: absolute;
  top: 272px;
  width: 386px;
}

.homepage-login .overlap-4 {
  background-color: #f9fbfb;
  border: 1px solid;
  border-color: #1f1f1f80;
  border-radius: 10px;
  height: 50px;
  left: -1px;
  position: relative;
  top: -1px;
}

.homepage-login .iconsax-bulk {
  height: 16px;
  left: 357px;
  position: absolute;
  top: 16px;
  width: 16px;
}

.homepage-login .don-t-have-an {
  color: transparent;
  font-family: "Lato-Medium", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 17px;
  left: 119px;
  letter-spacing: 0.70px;
  line-height: normal;
  position: absolute;
  top: 496px;
}

.homepage-login .text-wrapper-7 {
  color: #1f1f1f;
  font-weight: 500;
  letter-spacing: 0.10px;
}

.homepage-login .text-wrapper-8 {
  color: #78a2b3;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
  letter-spacing: 0.10px;
}

.homepage-login .go-back-to-home-page {
  color: transparent;
  font-family: "Lato-Medium", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 17px;
  left: 148px;
  letter-spacing: 0.70px;
  line-height: normal;
  position: absolute;
  top: 529px;
}

.homepage-login .group-3 {
  height: 16px;
  left: 32px;
  opacity: 0.75;
  position: absolute;
  top: 336px;
  width: 104px;
}

.homepage-login .text-wrapper-9 {
  color: #1f1f1f;
  font-family: "Lato-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  height: 14px;
  left: 20px;
  letter-spacing: 0.60px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
}

.homepage-login .rectangle {
  border: 1px solid;
  border-color: #1f1f1f;
  border-radius: 5px;
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.homepage-login .text-wrapper-10 {
  color: #78a2b3;
  font-family: "Lato-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  height: 14px;
  left: 303px;
  letter-spacing: 0.60px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 337px;
  white-space: nowrap;
}

.homepage-login .group-4 {
  height: 48px;
  left: 32px;
  position: absolute;
  top: 432px;
  width: 384px;
}

.homepage-login .overlap-5 {
  border-radius: 10px;
  height: 48px;
  position: relative;
}

.homepage-login .rectangle-2 {
  background-color: #f9fbfb;
  border: 1px solid;
  border-color: #1f1f1f;
  border-radius: 10px;
  height: 48px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 384px;
}

.homepage-login .group-wrapper {
  height: 24px;
  left: 108px;
  position: absolute;
  top: 12px;
  width: 166px;
}

.homepage-login .group-5 {
  height: 24px;
}

.homepage-login .group-6 {
  height: 24px;
  position: relative;
  width: 168px;
}

.homepage-login .text-wrapper-11 {
  color: #1f1f1f;
  font-family: "Lato-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  height: 17px;
  left: 39px;
  letter-spacing: 0.70px;
  line-height: normal;
  opacity: 0.5;
  position: absolute;
  top: 4px;
}

.homepage-login .google {
  height: 24px;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.homepage-login .logo-instance {
  left: 295px !important;
  position: absolute !important;
  top: 180px !important;
}

.homepage-login .design-component-instance-node {
  color: #78a2b3 !important;
}

.homepage-login .img {
  height: 100%;
  object-fit: cover;
  flex: 1;
  max-width: 50%;
}

@media (min-width: 1024px) {
  .homepage-login .div-2 {
    max-width: 100%;
  }
  
  .homepage-login .overlap {
    max-width: 50%;
  }
}